footer {
  width: 100%;
  height: auto;
  background-color: aquamarine;
  align-self: end;
}

footer p {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  font-size: 2vw;
}

