form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

input[type='text']{
    height: 40px;
    border-color: black;
}

input[type=submit]{
    padding: 20px 10px;
    font-size: 2vw;
    border: 1px solid black;
}


.content_block{
    line-height: 22px;
    padding: 10px;
    margin-bottom: 10px;
    h2{
        padding-bottom: 10px;
        font-weight: bold;
    }
}

